/*
* Mise en page de l'accueil
*/

.accueil {
	.entete {
		padding-bottom: 0;
	}

	&__accroche {
		font-family: $RobotoMedium;
		font-style: normal;
		font-weight: 500;
		font-size: 3rem;
		line-height: 110%;
		letter-spacing: $EspacementStandard;
		text-align: center;
		color: $noir;
		margin: 4rem 2rem;

		@media screen and (min-width: $mobile600px) {
			font-size: 5rem;
			margin: 4rem 0;
		}
		@media screen and (min-width: 735px) {
			margin: 6rem 0;
		}
		@media screen and (min-width: 850px) {
			margin: 8rem 0;
			font-size: 7rem;
		}
		@media screen and (min-width: $tablet900px) {
			margin: 5rem 0 4rem 0;
		}

		@media screen and (min-width: 950px) {
			margin: 20rem 0 10rem 0;
		}

		@media screen and (prefers-color-scheme: dark) {
			color: $blancSombre;
		}
	}

	&__coeur {
		height: 5rem;
		vertical-align: top;

		@media screen and (min-width: 545px) {
			height: 6rem;
		}

		@media screen and (min-width: 850px) {
			height: 8rem;
		}
	}

	// projets = conteneur bleed
	.projets {
		@media screen and (max-width: 899px) {
			@include paddingConteneur;
		}

		// Modificateur grille 50%
		&--demi-grille {
			@include rangeeGrid($pointRupture: $tablet900px);

			@media screen and (max-width: 899px) {
				@include paddingConteneur;
			}

			padding: 0;

			& .projets {
				&__titre-h2 {
					margin: 3rem 0 1rem 2rem;

					&:after {
						content: none;
					}

					@media screen and (min-width: $desktop1100px) {
						@include fleche();
					}
				}

				&__web-applis {
					@include rangeeDemiGrille();

					@media screen and (min-width: $mobile600px) {
						padding: 2rem 0 0 0;
					}

					@media screen and (min-width: $tablet900px) {
						grid-column: 1 / 7;
						justify-content: flex-end;
						border-left: none;
						border-radius: 0 $arrondiTable $arrondiTable 0;
						padding: 2rem 4rem 0 0;

						&:before {
							left: -0.2rem; // Retire la barre de défilement en page d'accueil
						}
					}
				}

				&__design-graphique {
					@include rangeeDemiGrille();

					@media screen and (min-width: $mobile600px) {
						padding: 2rem 0 0 0;
					}

					@media screen and (min-width: $tablet900px) {
						grid-column: 7 / 13;
						justify-content: flex-start;
						border-right: none;
						border-radius: $arrondiTable 0 0 $arrondiTable;
						padding: 2rem 0 0 4rem;

						&:before {
							right: 0.2rem; // Retire la barre de défilement en page d'accueil
						}
					}
				}
			}

			& .navigation {
				&--web-applis {
					@include rangeeGrid($pointRupture: $tablet900px);
					@media screen and (min-width: $mobile600px) {
						align-content: flex-start;
					}

					& .navigation {
						&__lien-section {
							@media screen and (min-width: $mobile600px) {
								grid-column: 2 / 13;
							}

							@media screen and (min-width: 1000px) {
								grid-column: 3 / 13;
							}
						}
						&__rangee-projets {
							@media screen and (min-width: $mobile600px) {
								grid-column: 2 / 13;
							}

							@media screen and (min-width: 1000px) {
								grid-column: 3 / 13;
							}
						}
					}
				}

				&--design-graphique {
					@include rangeeGrid($pointRupture: $tablet900px);
					@media screen and (min-width: $mobile600px) {
						align-content: flex-start;
					}

					& .navigation {
						&__lien-section {
							@media screen and (min-width: $mobile600px) {
								grid-column: 1 / 12;
							}

							@media screen and (min-width: 1000px) {
								grid-column: 1 / 11;
							}
						}
						&__rangee-projets {
							@media screen and (min-width: $mobile600px) {
								grid-column: 1 / 12;
							}

							@media screen and (min-width: 1000px) {
								grid-column: 1 / 11;
							}
						}
					}
				}

				&__liste {
					padding: 0;

					@media screen and (min-width: $mobile600px) {
						& > * {
							grid-column: span 6;
							vertical-align: top; // Version mobile
						}
					}
				}
			}
		}

		// Navigation spécifique à l'accueil

		.navigation {
			&__lien-section {
				text-decoration: none;
				color: $noir;

				@media screen and (min-width: $mobile600px) {
					@include fleche();
				}

				@media screen and (min-width: $desktop1100px) {
					&:hover,
					&:focus {
						&::after {
							margin-left: 2.5rem;
						}
					}
				}

				@media screen and (prefers-color-scheme: dark) {
					color: $blancSombre;
				}
			}
		}
	}
}
