/*
* Mise en page de la page Contact
* @author Gabriel Caron <gabriel.caron@gmail.com>
*/

.contact {
	@include conteneur1400px;

	&__titre {
		padding: 2rem 0 1rem 0;
		@media screen and (min-width: $mobile600px) {
			padding: 4rem 0 1rem 0;
		}
		@media screen and (min-width: $tablet900px) {
			padding: 10rem 0 1rem 0;
		}
	}

	&__liste {
		display: flex;
		justify-content: center;
		padding: 0 0 5rem 0;
		list-style-type: none;
		@media screen and (min-width: $mobile600px) {
			gap: 8rem;
		}
	}

	&__lien {
		font-family: $RobotoMedium;
		letter-spacing: $EspacementStandard;
		line-height: 100%;
		border-radius: $arrondiMobile;
		color: $noir;
		text-decoration-thickness: 0.3rem;

		@media screen and (prefers-color-scheme: dark) {
			color: $blancSombre;
		}

		&:hover,
		&:focus {
			text-decoration-thickness: 0.5rem;
			text-underline-offset: 0.1rem;

			& .icone {
				border: none;
				margin: 0.4rem 0.4rem 0 0;

				@media screen and (prefers-color-scheme: dark) {
					margin: initial;
				}
			}

			& .courriel {
				& .elevation {
					fill: url(#courriel-elevation-hover);

					@media screen and (prefers-color-scheme: dark) {
						fill: $grisElevationIconeSombre;
					}
				}

				& .enveloppe {
					fill: url(#enveloppe-hover);
				}
			}

			& .linkedin {
				& .elevation {
					fill: url(#linkedin-bleu-hover);

					@media screen and (prefers-color-scheme: dark) {
						fill: $grisElevationIconeSombre;
					}
				}

				& .logotype {
					fill: url(#linkedin-gris-hover);
				}
			}

			@media screen and (prefers-color-scheme: dark) {
				color: $blancSombre;

				& .courriel {
					border: solid 0.2rem $gris65AAA;

					& .enveloppe {
						fill: url(#enveloppe-sombre);
					}
				}

				& .linkedin {
					border: solid 0.2rem $gris65AAA;

					& .logotype {
						fill: url(#linkedin-bleu-sombre);
					}
				}
			}
		}

		&:visited {
			color: $noir;

			@media screen and (prefers-color-scheme: dark) {
				color: $blancSombre;
			}
		}

		// État initial sombre
		@media screen and (prefers-color-scheme: dark) {
			& .courriel {
				& .enveloppe {
					fill: url(#enveloppe-sombre);
				}
			}

			& .linkedin {
				& .logotype {
					fill: url(#linkedin-bleu-sombre);
				}
			}
		}
	}

	&__figure {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 0;

		& .icone {
			width: 10rem;
			border: solid 0.2rem $blanc;
			border-radius: 3.5rem;
			vertical-align: middle;
			box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.05),
				-5px -5px 25px 0px rgba(255, 255, 255, 1);

			@media screen and (min-width: $mobile600px) {
				width: 13rem;
			}

			@media screen and (prefers-color-scheme: dark) {
				box-shadow: none;
				border: solid 0.2rem $grisContourIconeSombre;

				& .elevation {
					fill: $grisElevationIconeSombre;
				}
			}
		}
	}

	&__figcaption {
		font-family: $RobotoBold;
		font-size: 2.5rem;
		display: inline-block;
		line-height: 120%;
		border-radius: $arrondiMobile;
		margin-top: 0.5rem;
		padding: 1.3rem 2rem;
		vertical-align: middle;

		@media screen and (min-width: $mobile600px) {
			font-size: 3.5rem;
		}
	}
}
