/*
* Pages de contenu
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 1.1
*/

.apropos {
	& .contenu {
		@include conteneur1400px;
	}

	& .sous-titre {
		font-size: 3.5rem;
		font-family: Roboto-Bold, sans serif;
		margin-bottom: 0.5rem;
	}

	& .stats {
		font-size: 2.5rem;
		font-family: Roboto-Bold, sans serif;
	}

	// .quelques-chiffres {
	// 	@media screen and (min-width: 800px) {
	// 		@include rangeeGrid();

	// 		& h2 {
	// 			grid-column: span 12;
	// 		}

	// 		& .statistique {
	// 			grid-column: span 6;
	// 			width: 100%; // Règle un bogue d'affichage sur Safari

	// 			@media screen and (prefers-color-scheme: dark) {
	// 				& path {
	// 					fill: $blancSombre;
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	// Accessibilité
	.projet {
		padding: 0;

		&__formats.lien {
			display: block;
		}

		& .lien:hover {
			text-decoration: none;
		}
	}
}

.contenu.secondaire {
	& .contenu {
		@include conteneur1400px;
	}
}
