/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 2021.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* STYLES GÉNÉRAUX
*
*
*/

/* Base décimale */
html {
  font-size: 62.5%;
}

body {
  background-color: $gris98;
  background-image: url("../images/design/texture-vagues.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 17rem;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}
