/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 2021.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* STYLES GÉNÉRAUX
*
*
*/

/* Base décimale */
html {
  font-size: 62.5%;
}

body {
background-color: $gris98;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

.contenu {
  @include conteneur1400px();

  &__conteneurRangeeGrid {
	@include rangeeGrid12col;

	& > * {
	  grid-column: 2 / 12;
	}
  }
}
