/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 2021.2
*
* ------------------
* TABLE DES MATIERES
* ------------------
* PROJETS
*
*
*/

/* Styles généraux, tous les projets */

.projets {

  &__selecteur {
	@media screen and (min-width: $tablet900px) {
	  @include bulle();
	}
  }

  &__conteneurIcones {
	@include rangeeGrid12col();
  }

  &__titre-h2 {
	margin: 4rem 0 0 5rem;
  }
}


/* Styles spécifiques, aperçu d'un projet */

.projet {

  &__titre {
	font-size: 8rem;
	text-align: left;
	margin: 0;
	padding: 7rem 0 0 0;
  }

  &__description {
	font-size: 2.5rem;
	letter-spacing: $EspacementStandard;
	color: $gris25;
	margin: 1rem 0;
  }

  &__processus {
	list-style-type: none;
	padding: 0;
  }

  &__formats {
	padding: 1rem 4rem 1rem 0;

	@media screen and (min-width: $mobile600px) {
	  display: inline-block;
	}
  }

  &__figure {
	margin: 7rem 0 0 0;
  }

  &__figcaption {
	font-size: 1.6rem;
	margin-top: 2rem;
  }

  &.sans-contexte {
	img {
	  border-radius: 3.5rem;
	  border: 2px solid $blanc;
	}
  }

  &.masonry {
	@media screen and (min-width: $mobile600px) {
	  img {
		border-radius: 3.5rem;
		box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.05), -5px -5px 25px 0px white;
	  }
	}
  }

  &.macOS {
	@media screen and (min-width: $mobile600px) {
	  img {
		border-radius: 1rem;
		box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.05), -5px -5px 25px 0px white;
	  }
	}
  }
}
