@charset "UTF-8";
/**
 * @author Gabriel Caron <gabriel.caron@gmail.com>
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * ------------------
 * UTILITAIRES
 ** Variables
 ** Mixins
 * ------------------
 * BASE
 ** Typographie
 ** Grille
 * ------------------
 * MODULES
 ** Entete
 ** Pied de page
 * ------------------
 * LAYOUT
 ** Accueil
 ** General
 */
/****** Librairies ******/
/** Normalize **/
/*! normalize.sass v8.0.1 | MIT License | github.com/necolas/normalize.sass */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on medias inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**** UTILITAIRES ****/
/** Variables **/
/**
 * @author Gabriel Caron <1861095@csfoy.ca>
 * @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* VARIABLES
* PALETTES DE COULEURS
** Couleurs de base
** Autres couleurs
* POINTS DE RUPTURE
*/
/** Palette de couleurs **/
/* Couleurs de base AAA */
/* Polices */
/** Points de rupture **/
/** Mixins **/
/**
* @author Gabriel Caron - 1861095@csfoy.ca
* @version 2.5
*
* ------------------
* TABLE DES MATIERES
* ------------------
* UTILITAIRES DE BASE
** Box sizing
* Clearfix
* ACCESSIBILITÉ
** Visually hidden/screen reader only
** Lien sauter au contenu
* TYPOGRAPHIE
* Fonction pour convertir une valeur de font-size en pixels à son équivalent rem
* Mixin qui inclus la solution de repli en pixel suivi par la valeur calculée en rem
* Mixin pour conteneur de base à 1200px
* Mixin pour rangée Flex par défaut
* Mixin pour rangée Grid sur 12 colonnes
* Mixin pour le padding de base pour mobile
*/
/***** Utilitaires de base *****/
/** Box sizing **/
/* Clearfix */
/***** Accessibilité *****/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.sauter-contenu {
  display: block;
  padding: 0 3rem;
  line-height: 5rem;
  color: #000;
  background-color: #FFE100;
  text-align: center;
}

/****** BASE ******/
/** Typographie **/
/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 5.1
*
* ------------------
* TABLE DES MATIERES
* ------------------
* Polices
*/
/* Polices */
@font-face {
  font-family: Roboto-Regular;
  src: url(../../liaisons/polices/roboto-regular.woff2) format("woff2"), url(../../liaisons/polices/roboto-regular.woff) format("woff"), url(../../liaisons/polices/roboto-regular.ttf) format("truetype");
}
@font-face {
  font-family: Roboto-Italic;
  src: url(../../liaisons/polices/roboto-italic.woff2) format("woff2"), url(../../liaisons/polices/roboto-italic.woff) format("woff"), url(../../liaisons/polices/roboto-italic.ttf) format("truetype");
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../../liaisons/polices/roboto-medium.woff2) format("woff2"), url(../../liaisons/polices/roboto-medium.woff) format("woff"), url(../../liaisons/polices/roboto-medium.ttf) format("truetype");
}
@font-face {
  font-family: Roboto-MediumItalic;
  src: url(../../liaisons/polices/roboto-mediumItalic.woff2) format("woff2"), url(../../liaisons/polices/roboto-mediumItalic.woff) format("woff"), url(../../liaisons/polices/roboto-mediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../../liaisons/polices/roboto-bold.woff2) format("woff2"), url(../../liaisons/polices/roboto-bold.woff) format("woff"), url(../../liaisons/polices/roboto-bold.ttf) format("truetype");
}
@font-face {
  font-family: Roboto-BoldItalic;
  src: url(../../liaisons/polices/roboto-boldItalic.woff2) format("woff2"), url(../../liaisons/polices/roboto-boldItalic.woff) format("woff"), url(../../liaisons/polices/roboto-boldItalic.ttf) format("truetype");
}
h1, h2, h3, h4, h5, h6 {
  font-family: Roboto-Medium, sans serif;
  font-weight: normal;
  line-height: 100%;
  letter-spacing: 0.05rem;
}

h1 {
  font-size: 4.5rem;
  text-align: center;
  padding: 2rem 0 5rem 0;
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: 7rem;
    padding: 10rem 0;
  }
}

h2 {
  font-size: 4rem;
  font-family: Roboto-Bold, sans serif;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 600px) {
  h2 {
    font-size: 6rem;
  }
}

h3 {
  font-size: 3.5rem;
  font-family: Roboto-Bold, sans serif;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 600px) {
  h3 {
    font-size: 5rem;
  }
}

h4 {
  font-size: 3rem;
  font-family: Roboto-Bold, sans serif;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 600px) {
  h4 {
    font-size: 4rem;
  }
}

h5 {
  font-size: 2.5rem;
  font-family: Roboto-Bold, sans serif;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 600px) {
  h5 {
    font-size: 3rem;
  }
}

h6 {
  font-size: 2rem;
  font-family: Roboto-Bold, sans serif;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 600px) {
  h6 {
    font-size: 2rem;
  }
}

body {
  font-family: Roboto-Regular, sans serif;
  font-size: 2rem;
  line-height: 1.5;
}

/** Grille **/
/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 3.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* Utilisation du modèle de boîte avec Box-Sizing
* Classe conteneur pour le centrage du bloc parent avec CSS Grid
* Classe conteneur pour le positionnement de la rangée enfant en Grid
* Classe conteneur pour le positionnement de la rangée enfant en flexbox
*/
/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
html {
  box-sizing: border-box;
}

/*** Images responsives ***/
img {
  max-width: 100%;
}

/*** DEV seulement - Classe conteneur pour le centrage du bloc parent avec CSS Grid ***/
.conteneur {
  padding-left: 3rem;
  padding-right: 3rem;
}
@media screen and (min-width: 1000px) {
  .conteneur {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (min-width: 1930px) {
  .conteneur {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 600px) {
  .conteneur {
    display: grid;
    grid-template-columns: minmax(auto, 1400px);
    justify-content: center;
  }
}

/*** DEV seulement - Classe conteneur pour le positionnement de la rangée enfant en Grid ***/
.rangeeGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

/*** DEV seulement - Classe conteneur pour le positionnement de la rangée enfant en flexbox ***/
@media (min-width: 600px) {
  .rangeeFlex {
    display: flex;
    justify-content: space-between;
  }
}
/** Boutons **/
/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* BOUTONS
*
*/
/* Styles pour l'état survol */
/* Styles pour l'état actif */
/* Styles pour la page courante */
/****** MODULES ******/
/** Entete **/
/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 2.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* EN-TÊTE
*
*
*/
.entete {
  padding-left: 3rem;
  padding-right: 3rem;
  background-image: url("../images/design/vagues-entete.svg");
  background-repeat: no-repeat;
  background-position: 30rem -7rem;
  background-size: 70rem;
}
@media screen and (min-width: 1000px) {
  .entete {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (min-width: 1930px) {
  .entete {
    padding-left: 0;
    padding-right: 0;
  }
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 600px) {
    .entete {
      display: grid;
      grid-template-columns: minmax(auto, 1400px);
      justify-content: center;
    }
  }
}
@supports not (grid-template-columns: minmax(auto, 1400px)) {
  .entete {
    max-width: 1400px;
  }
}
@media screen and (min-width: 600px) {
  .entete {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 900px) {
  .entete {
    padding-bottom: 10rem;
  }
}
@media screen and (min-width: 1000px) {
  .entete {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (min-width: 900px) {
  .entete {
    background-position: 35vw -2vw;
    background-size: initial;
  }
}
@media screen and (min-width: 1000px) {
  .entete {
    background-position: 40vw 0;
  }
}
@media screen and (min-width: 1400px) {
  .entete {
    background-position: 44vw 0;
  }
}
@media screen and (min-width: 1600px) {
  .entete {
    background-position: 46vw 0;
  }
}
@media screen and (min-width: 1920px) {
  .entete {
    background-position: 48vw 0;
  }
}
@media screen and (max-width: 899px) {
  .entete__lien-accueil {
    flex-basis: 100%;
  }
}
.entete__logo {
  width: 217px;
  height: 53px;
  margin-left: 0.5rem;
  display: block;
}
@media screen and (min-width: 900px) {
  .entete__logo {
    width: 285px;
    height: 70px;
    margin-left: 0;
  }
}
.entete__logo .maison {
  display: none;
}
.entete__logo:hover .maison {
  display: block;
}
.entete__logo:hover .signature {
  display: none;
}
.entete__menu {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5.5rem;
}

/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 4.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* NAVIGATION
*
*
*/
/* En-tête */
.entete .navigation {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .entete .navigation {
    width: initial;
  }
}
.entete .navigation__liste {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 3.5rem 0;
}
.entete .navigation__item {
  display: inline-block;
}
@media screen and (min-width: 600px) {
  .entete .navigation__item {
    margin-left: 1rem;
  }
}
.entete .navigation__lien {
  display: inline-block;
  font-family: Roboto-Medium, sans serif;
  font-size: 1.6rem;
  color: #404040;
  text-decoration: none;
  line-height: 120%;
  letter-spacing: 0.05rem;
  padding: 1rem 1.5rem;
  margin: 0 0.3rem;
  text-align: center;
}
@media screen and (min-width: 550px) {
  .entete .navigation__lien {
    font-size: 2rem;
    padding: 1.2rem 2.5rem;
  }
}
@media screen and (min-width: 900px) {
  .entete .navigation__lien {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1100px) {
  .entete .navigation__lien {
    font-size: 2rem;
  }
}
.entete .navigation__lien:link, .entete .navigation__lien:visited {
  border: solid 1px transparent;
  border-radius: 2.5rem;
  transition: background 0.1s ease-in-out;
}
@media screen and (min-width: 600px) {
  .entete .navigation__lien:link, .entete .navigation__lien:visited {
    border-radius: 3rem;
  }
}
.entete .navigation__lien:hover {
  position: relative;
  background: linear-gradient(175deg, #FFF000 6.26%, #FFE100 93.03%);
  background-clip: padding-box;
  border: solid 1px transparent;
}
.entete .navigation__lien:hover:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 100%);
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 20px #FFFFFF;
}
.entete .navigation__lien:active {
  position: relative;
  background: linear-gradient(175deg, #FFF000 6.26%, #FFD700 93.03%);
  background-clip: padding-box;
  border: solid 1px transparent;
}
.entete .navigation__lien:active:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(180deg, #E6E6E6 0%, #FFFFFF 100%);
  box-shadow: -5px -5px 20px 0px white, 3px 5px 10px 0px rgba(0, 0, 0, 0.05);
}
.entete .navigation__lien.courante {
  border: 3px solid #ffe100;
  box-shadow: -5px -5px 20px 0px rgba(255, 255, 255, 0.5), 3px 5px 10px 0px rgba(0, 0, 0, 0.05);
  line-height: 120%;
}
.entete .navigation__lien.courante:hover {
  border: none;
  padding: 1.3rem 1.8rem;
}
@media screen and (min-width: 550px) {
  .entete .navigation__lien.courante:hover {
    padding: 1.5rem 2.8rem;
  }
}

/* Projets */
@media screen and (min-width: 900px) {
  .projets .navigation.web-applis {
    padding: 1rem 3rem 1.5rem 1rem;
  }
}
@media screen and (min-width: 900px) {
  .projets .navigation.design-graphique {
    padding: 1rem 1rem 1.5rem 3rem;
  }
}
.projets .navigation__liste {
  list-style-type: none;
  padding: 0;
  vertical-align: top;
}
@media screen and (min-width: 900px) {
  .projets .navigation__liste {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 900px) {
  .projets .navigation__liste.rangeeSections {
    padding: 1rem 0 1rem 3rem;
  }
}
.projets .navigation__liste.rangeeSections > * {
  width: initial;
}
.projets .navigation__item {
  display: inline-block;
  vertical-align: top;
  padding: 1rem 0;
}
@media screen and (max-width: 599px) {
  .projets .navigation__item {
    width: calc(50% - 1.3rem);
  }
}
.projets .navigation__item.block {
  display: block;
  padding: 1.5rem 0;
}
@media screen and (min-width: 650px) {
  .projets .navigation__item.block {
    display: inline-block;
    padding: 1rem 0;
  }
}
.projets .navigation__item:nth-child(odd) {
  padding-right: 2rem;
}
@media screen and (min-width: 600px) {
  .projets .navigation__item:nth-child(odd) {
    padding-right: initial;
  }
}
@media screen and (min-width: 600px) {
  .projets .navigation__item {
    grid-column: span 6;
  }
}
@media screen and (min-width: 900px) {
  .projets .navigation__item {
    grid-column: span 3;
  }
}
@media screen and (min-width: 1100px) {
  .projets .navigation__item {
    grid-column: span 2;
  }
}
.projets .navigation__lien {
  font-family: Roboto-Medium, sans serif;
  text-decoration: none;
  color: #404040;
  letter-spacing: 0.05rem;
  line-height: 100%;
  border-radius: 4rem;
}
.projets .navigation__figure {
  margin: 0;
  text-align: center;
}
.projets .navigation__figure svg {
  border: solid 3px #fff;
  border-radius: 4rem;
  box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.05), -5px -5px 25px 0px white;
}
@media screen and (min-width: 600px) {
  .projets .navigation__figure svg {
    border-radius: 5.5rem;
  }
}
@media screen and (min-width: 900px) {
  .projets .navigation__figure svg {
    border-radius: 4rem;
  }
}
@media screen and (min-width: 1100px) {
  .projets .navigation__figure svg {
    border-radius: 4rem;
  }
}
@media screen and (min-width: 1400px) {
  .projets .navigation__figure svg {
    border-radius: 5.5rem;
  }
}
.projets .navigation__figcaption {
  font-family: Roboto-Medium, sans serif;
  font-size: 1.6rem;
  display: inline-block;
  line-height: 120%;
  border-radius: 4rem;
  margin-top: 0.5rem;
  padding: 1.3rem 2.3rem;
}
.projets .navigation .rangeeSections .courant {
  border: 3px solid #ffe100;
  box-shadow: -5px -5px 20px 0px rgba(255, 255, 255, 0.5), 3px 5px 10px 0px rgba(0, 0, 0, 0.05);
}
.projets .navigation .rangeeSections .navigation__lien {
  font-size: 2rem;
  padding: 1rem 2.7rem;
  margin: 0 0.3rem;
}
@media screen and (min-width: 550px) {
  .projets .navigation .rangeeSections .navigation__lien {
    font-size: 2.4rem;
  }
}
.projets .navigation .rangeeSections .navigation__lien:hover {
  background: linear-gradient(187.52deg, #FFF000 6.26%, #FFE100 93.03%);
  box-shadow: -5px -5px 20px 0px rgba(255, 255, 255, 0.5), 3px 5px 10px 0px rgba(0, 0, 0, 0.05);
}
.projets .navigation .rangeeSections .navigation__lien:hover.courant {
  border: none;
  padding: 1.3rem 3rem;
}
.projets .navigation .rangeeSections .navigation__lien:active {
  background: linear-gradient(187.52deg, #FFF000 6.26%, #FFD700 93.03%);
  box-shadow: -5px -5px 20px 0px rgba(255, 255, 255, 0.5), 3px 5px 10px 0px rgba(0, 0, 0, 0.05);
}
.projets .navigation .rangeeSections .navigation__lien:active.courant {
  border: none;
  padding: 1.3rem 3rem;
  margin: 0 0.3rem;
}
.projets .navigation .rangeeProjets .navigation__lien:hover .navigation__figcaption {
  border: none;
  background: linear-gradient(187.52deg, #FFF000 6.26%, #FFE100 93.03%);
  box-shadow: -5px -5px 20px 0px rgba(255, 255, 255, 0.5), 3px 5px 10px 0px rgba(0, 0, 0, 0.05);
}
.projets .navigation .rangeeProjets .navigation__lien:hover.courant .navigation__figcaption {
  border: none;
  padding: 1.3rem 2.3rem;
}
.projets .navigation .rangeeProjets .navigation__lien:active .navigation__figcaption {
  background: linear-gradient(187.52deg, #FFF000 6.26%, #FFD700 93.03%);
  box-shadow: -5px -5px 20px 0px rgba(255, 255, 255, 0.5), 3px 5px 10px 0px rgba(0, 0, 0, 0.05);
}
.projets .navigation .rangeeProjets .navigation__lien.courant .navigation__figcaption {
  border: 3px solid #ffe100;
  box-shadow: -5px -5px 20px 0px rgba(255, 255, 255, 0.5), 3px 5px 10px 0px rgba(0, 0, 0, 0.05);
  padding: 1rem 2rem;
}

/* Pied de page */
.pieddepage .navigation {
  grid-column: 1/13;
}
@media screen and (min-width: 600px) {
  .pieddepage .navigation {
    row-gap: 0;
  }
  @supports (grid-template-columns: minmax(auto, 1400px)) {
    @media screen and (min-width: 600px) and (min-width: 600px) {
      .pieddepage .navigation {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 20px;
      }
    }
  }
}
.pieddepage .navigation .rangee1 {
  grid-row: 1;
}
.pieddepage .navigation .rangee2 {
  grid-row: 2;
}
.pieddepage .navigation .rangee3 {
  grid-row: 3;
}
.pieddepage .navigation .rangee4 {
  grid-row: 4;
}
.pieddepage .navigation__titre {
  grid-column: span 4;
  color: #000;
  text-decoration: none;
  line-height: 110%;
  font-size: 2.5rem;
}
.pieddepage .navigation__titre .section {
  color: #000;
  font-family: Roboto-Bold, sans serif;
  font-size: 2.5rem;
}
.pieddepage .navigation__liste {
  grid-column: span 4;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.pieddepage .navigation__lien {
  font-family: Roboto-Medium, sans serif;
  font-size: 2rem;
  color: #404040;
  text-decoration: none;
  line-height: 175%;
  letter-spacing: 0.05rem;
  transition: border-bottom 0.075s ease-in-out;
}
.pieddepage .navigation__lien.section {
  line-height: 100%;
}
.pieddepage .navigation__lien:hover {
  border-bottom: solid 0.3rem #404040;
}
.pieddepage__copyright {
  grid-column: 1/13;
}

/** Pied de page **/
/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* PIED DE PAGE
*
*
*/
.pieddepage {
  padding-left: 3rem;
  padding-right: 3rem;
  padding: 0 3rem 5rem 3rem;
  background-image: linear-gradient(to right bottom, #fff000, #FFEB00);
  margin-top: 10rem;
}
@media screen and (min-width: 1000px) {
  .pieddepage {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (min-width: 1930px) {
  .pieddepage {
    padding-left: 0;
    padding-right: 0;
  }
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 600px) {
    .pieddepage {
      display: grid;
      grid-template-columns: minmax(auto, 1400px);
      justify-content: center;
    }
  }
}
@supports not (grid-template-columns: minmax(auto, 1400px)) {
  .pieddepage {
    max-width: 1400px;
  }
}
@media screen and (min-width: 900px) {
  .pieddepage {
    padding: 0 5rem 0 5rem;
  }
}
@media screen and (min-width: 1700px) {
  .pieddepage {
    border-radius: 20rem 0 0 0;
  }
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 600px) {
    .pieddepage__conteneurGrille {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
  }
}
.pieddepage__titres {
  font-family: Roboto-Medium, sans serif;
  font-size: 2rem;
  color: #404040;
  line-height: 150%;
  letter-spacing: 0.05rem;
  margin: 2rem 0 0 0;
}
@media screen and (min-width: 600px) {
  .pieddepage__titres {
    margin: 0.75rem 0 0 0;
    padding-left: 4rem;
  }
}
.pieddepage__rangeeLogo {
  padding: 6rem 0 2rem 0;
}
@media screen and (min-width: 600px) {
  .pieddepage__rangeeLogo {
    grid-column: 1/13;
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    padding: 10rem 0 5rem 0;
  }
}
.pieddepage__logo {
  width: 250px;
  height: 60px;
  display: block;
}
.pieddepage__logo .maison {
  display: none;
}
.pieddepage__logo:hover .maison {
  display: block;
}
.pieddepage__logo:hover .signature {
  display: none;
}
.pieddepage__copyright {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
  color: #000;
}
.pieddepage__copyright:hover {
  text-decoration: underline;
}
@media screen and (min-width: 900px) {
  .pieddepage__copyright {
    position: relative;
    top: 13rem;
  }
}
.pieddepage__vagues {
  padding-top: 5rem;
  display: none;
}
@media screen and (min-width: 900px) {
  .pieddepage__vagues {
    display: block;
  }
}

/** Icônes **/
/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 6.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* ICONES DES PROJETS
** Conteneur
*
*
*/
/* État survol des icônes des projets */
@media screen and (min-width: 600px) {
  .navigation__lien.nouveau .navigation__figcaption::before {
    content: "";
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background-image: url(../images/icones/nouveau.svg);
    background-repeat: no-repeat;
    padding-right: 1rem;
  }
  .navigation__lien.nouveau.nouveau:hover .navigation__figcaption::before, .navigation__lien.nouveau.nouveau:active .navigation__figcaption::before {
    background-image: url(../images/icones/nouveau--hover.svg);
  }
}
.navigation__lien.courant .SOS .elevation, .navigation__lien:hover .SOS .elevation {
  fill: url(#SOS-elevation-hover);
}
.navigation__lien.courant .SOS .anneau, .navigation__lien:hover .SOS .anneau {
  fill: url(#SOS-anneau-hover);
}
.navigation__lien.courant .SOS .cordes, .navigation__lien:hover .SOS .cordes {
  fill: #f34b18;
}
.navigation__lien.courant .alaia .elevation, .navigation__lien:hover .alaia .elevation {
  fill: url(#alaia-bleu);
}
.navigation__lien.courant .alaia .planche-devant, .navigation__lien:hover .alaia .planche-devant {
  fill: url(#alaia-gris-devant);
}
.navigation__lien.courant .alaia .planche-arriere, .navigation__lien:hover .alaia .planche-arriere {
  fill: url(#alaia-gris-arriere);
}
.navigation__lien.courant .alaia .planche-ligne, .navigation__lien:hover .alaia .planche-ligne {
  fill: #045D85;
}
.navigation__lien.courant .altitude .elevation, .navigation__lien:hover .altitude .elevation {
  fill: url(#altitude-bleu-hover);
}
.navigation__lien.courant .altitude .altisymbole, .navigation__lien:hover .altitude .altisymbole {
  fill: url(#altitude-gris-hover);
}
.navigation__lien.courant .aquafina .elevation, .navigation__lien:hover .aquafina .elevation {
  fill: url(#elevation-bleu-hover);
}
.navigation__lien.courant .aquafina .goutte, .navigation__lien:hover .aquafina .goutte {
  fill: url(#goutte-gris-hover);
}
.navigation__lien.courant .boreal .elevation, .navigation__lien:hover .boreal .elevation {
  fill: url(#boreal-vert-hover);
}
.navigation__lien.courant .boreal .feuille, .navigation__lien:hover .boreal .feuille {
  fill: url(#boreal-gris-hover);
}
.navigation__lien.courant .danseenboites .elevation, .navigation__lien:hover .danseenboites .elevation {
  fill: url(#danse-or-elevation-hover);
}
.navigation__lien.courant .danseenboites .danse-masque-joyeux, .navigation__lien:hover .danseenboites .danse-masque-joyeux {
  fill: url(#danse-gris-masque-joyeux-hover);
}
.navigation__lien.courant .danseenboites .danse-masque-triste, .navigation__lien:hover .danseenboites .danse-masque-triste {
  fill: url(#danse-gris-masque-triste-hover);
}
.navigation__lien.courant .destinations .elevation, .navigation__lien:hover .destinations .elevation {
  fill: url(#destinations-rouge-hover);
}
.navigation__lien.courant .destinations .symbole, .navigation__lien:hover .destinations .symbole {
  fill: url(#destinations-gris-hover);
}
.navigation__lien.courant .elite .elevation, .navigation__lien:hover .elite .elevation {
  fill: url(#elite-rouge-hover);
}
.navigation__lien.courant .elite .etincelle, .navigation__lien:hover .elite .etincelle {
  fill: url(#elite-gris-hover);
}
.navigation__lien.courant .festivaloff .elevation, .navigation__lien:hover .festivaloff .elevation {
  fill: url(#festivaloff-violet-hover);
}
.navigation__lien.courant .festivaloff .note, .navigation__lien:hover .festivaloff .note {
  fill: url(#festivaloff-gris-hover);
}
.navigation__lien.courant .grosseile .elevation, .navigation__lien:hover .grosseile .elevation {
  fill: url(#grosseile-vert-hover);
}
.navigation__lien.courant .grosseile .croix, .navigation__lien:hover .grosseile .croix {
  fill: url(#grosseile-gris-hover);
}
.navigation__lien.courant .manueldetypo .elevation, .navigation__lien:hover .manueldetypo .elevation {
  fill: url(#manueldetypo-bleu-hover);
}
.navigation__lien.courant .manueldetypo .livre, .navigation__lien:hover .manueldetypo .livre {
  fill: url(#manueldetypo-gris-hover);
}
.navigation__lien.courant .memorize .elevation, .navigation__lien:hover .memorize .elevation {
  fill: url(#memorize-elevation-hover);
}
.navigation__lien.courant .memorize .carte-dos-haut, .navigation__lien:hover .memorize .carte-dos-haut {
  fill: url(#memorize-carte-dos-haut-hover);
}
.navigation__lien.courant .memorize .carte-dos-bas, .navigation__lien:hover .memorize .carte-dos-bas {
  fill: url(#memorize-carte-dos-bas-hover);
}
.navigation__lien.courant .memorize .carte-face-bas, .navigation__lien:hover .memorize .carte-face-bas {
  fill: url(#memorize-carte-face-bas-hover);
}
.navigation__lien.courant .memorize .carte-face-haut, .navigation__lien:hover .memorize .carte-face-haut {
  fill: url(#memorize-carte-face-haut-hover);
}
.navigation__lien.courant .memorize .carte-face-contours, .navigation__lien:hover .memorize .carte-face-contours {
  stroke: #fff;
}
.navigation__lien.courant .creativite .elevation, .navigation__lien:hover .creativite .elevation {
  fill: url(#creativite-orange-hover);
}
.navigation__lien.courant .creativite .feu, .navigation__lien:hover .creativite .feu {
  fill: url(#creativite-gris-hover);
}
.navigation__lien.courant .mexico .elevation, .navigation__lien:hover .mexico .elevation {
  fill: url(#mexico-orange-hover);
}
.navigation__lien.courant .mexico .guitare path, .navigation__lien:hover .mexico .guitare path {
  fill: url(#mexico-gris-hover);
}
.navigation__lien.courant .presto .elevation, .navigation__lien:hover .presto .elevation {
  fill: url(#presto-vert-hover);
}
.navigation__lien.courant .presto .prestosymbole, .navigation__lien:hover .presto .prestosymbole {
  fill: url(#presto-gris-hover);
}
.navigation__lien.courant .controle .elevation, .navigation__lien:hover .controle .elevation {
  fill: url(#controle-jaune-hover);
}
.navigation__lien.courant .controle .pantin, .navigation__lien:hover .controle .pantin {
  fill: url(#controle-gris-hover);
}
.navigation__lien.courant .tim .elevation, .navigation__lien:hover .tim .elevation {
  fill: url(#tim-bleu-hover);
}
.navigation__lien.courant .tim .logotim, .navigation__lien:hover .tim .logotim {
  fill: url(#tim-gris-hover);
}

.lien {
  font-family: Roboto-Medium, sans serif;
  text-decoration: none;
  letter-spacing: 0.05rem;
}
.lien::before {
  content: "";
  display: inline-block;
  width: 3.5rem;
  height: 5rem;
  vertical-align: middle;
  margin-top: -0.5rem;
  padding-right: 1rem;
  background-repeat: no-repeat;
  transition: all, 0.1s ease-in-out;
}
.lien:link, .lien:visited {
  color: #404040;
}
.lien:hover, .lien:active {
  color: #000;
  text-decoration: underline;
}
.lien.axure::before {
  background-image: url(../images/icones/axure.svg);
}
.lien.axure:hover::before, .lien.axure:active::before {
  background-image: url(../images/icones/axure--hover.svg);
}
.lien.figma::before {
  background-image: url(../images/icones/figma.svg);
}
.lien.figma:hover::before, .lien.figma:active::before {
  background-image: url(../images/icones/figma--hover.svg);
}
.lien.github::before {
  background-image: url(../images/icones/github.svg);
}
.lien.github:hover::before, .lien.github:active::before {
  background-image: url(../images/icones/github--hover.svg);
}
.lien.pdf::before {
  background-image: url(../images/icones/pdf.svg);
}
.lien.pdf:hover::before, .lien.pdf:active::before {
  background-image: url(../images/icones/pdf--hover.svg);
}
.lien.rtf::before {
  background-image: url(../images/icones/rtf.svg);
}
.lien.rtf:hover::before, .lien.rtf:active::before {
  background-image: url(../images/icones/rtf--hover.svg);
}
.lien.sketch::before {
  background-image: url(../images/icones/sketch.svg);
}
.lien.sketch:hover::before, .lien.sketch:active::before {
  background-image: url(../images/icones/sketch--hover.svg);
}
.lien.web::before {
  background-image: url(../images/icones/web.svg);
}
.lien.web:hover::before, .lien.web:active::before {
  background-image: url(../images/icones/web--hover.svg);
}
.lien.xd::before {
  background-image: url(../images/icones/xd.svg);
}
.lien.xd:hover::before, .lien.xd:active::before {
  background-image: url(../images/icones/xd--hover.svg);
}

.externe:hover::after {
  margin: 0 0 0.75rem 0.75rem;
}

.externe::after {
  background: url("../images/icones/lien-externe.svg") no-repeat center;
  height: 1.75rem;
  width: 1.75rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
  content: "";
  transition: all 200ms ease-in-out;
}

/********* LAYOUT *********/
/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* STYLES GÉNÉRAUX
*
*
*/
/* Base décimale */
html {
  font-size: 62.5%;
}

body {
  background-color: #FAFAFA;
  background-image: url("../images/design/texture-vagues.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 17rem;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 6.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* ACCUEIL
*
*
*/
.accueil .entete {
  padding-bottom: 0;
}
.accueil__accroche {
  font-family: Roboto-Medium, sans serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5rem;
  line-height: 100%;
  letter-spacing: 0.05rem;
  text-align: center;
  color: #000000;
  text-shadow: -1px -1px 3px #FFFFFF, 2px 2px 3px rgba(0, 0, 0, 0.15);
  margin: 5rem 0 0 0;
}
@media screen and (min-width: 500px) {
  .accueil__accroche {
    font-size: 5.5rem;
    padding: 0 3rem;
  }
}
@media screen and (min-width: 850px) {
  .accueil__accroche {
    font-size: 6rem;
  }
}
@media screen and (min-width: 900px) {
  .accueil__accroche {
    margin: 25rem 0 0 0;
  }
}
.accueil__coeur {
  height: 4.5rem;
  vertical-align: top;
}
@media screen and (min-width: 850px) {
  .accueil__coeur {
    height: 6rem;
  }
}
.accueil__hashtags {
  text-align: center;
  margin-bottom: 10rem;
}
@media screen and (min-width: 900px) {
  .accueil__hashtags {
    margin-bottom: 20rem;
  }
}
.accueil .projets {
  align-items: flex-start;
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 900px) {
    .accueil .projets {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
  }
}
@media screen and (max-width: 899px) {
  .accueil .projets {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (max-width: 899px) and (min-width: 1000px) {
  .accueil .projets {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 899px) and (min-width: 1930px) {
  .accueil .projets {
    padding-left: 0;
    padding-right: 0;
  }
}
@supports (grid-template-columns: minmax(auto, 900px)) {
  @media screen and (min-width: 900px) {
    .accueil .projets__conteneurDemiGrille {
      display: grid;
      grid-template-columns: minmax(auto, 690px);
      column-gap: 20px;
    }
  }
}
.accueil .projets__conteneurDemiGrille.web-applis {
  grid-column: 1/7;
  justify-content: flex-end;
  border-left: 0;
}
@media screen and (min-width: 900px) {
  .accueil .projets__conteneurDemiGrille.web-applis {
    position: relative;
    background-color: #FAFAFA;
    background-clip: padding-box;
    border: solid 2px transparent;
    border-radius: 55px;
    border-radius: 0 5.5rem 5.5rem 0;
  }
  .accueil .projets__conteneurDemiGrille.web-applis:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(180deg, white 0%, #fcfcfc 100%);
  }
}
.accueil .projets__conteneurDemiGrille.design-graphique {
  grid-column: 7/13;
  justify-content: flex-start;
  border-right: 0;
}
@media screen and (min-width: 900px) {
  .accueil .projets__conteneurDemiGrille.design-graphique {
    position: relative;
    background-color: #FAFAFA;
    background-clip: padding-box;
    border: solid 2px transparent;
    border-radius: 55px;
    border-radius: 5.5rem 0 0 5.5rem;
  }
  .accueil .projets__conteneurDemiGrille.design-graphique:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(180deg, white 0%, #fcfcfc 100%);
  }
}
.accueil .projets__web-applis {
  padding: 0 3rem 0 3rem;
}
@media screen and (min-width: 600px) {
  .accueil .projets__web-applis {
    padding: 0 3rem 0 0;
  }
}
.accueil .projets__design-graphique {
  padding: 0 3rem 0 3rem;
}
@media screen and (min-width: 600px) {
  .accueil .projets__design-graphique {
    padding: 0 0 0 3rem;
  }
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 900px) {
    .accueil .projets .navigation.web-applis {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
  }
}
.accueil .projets .navigation.web-applis .titre {
  grid-column: 2/13;
}
@media screen and (min-width: 1000px) {
  .accueil .projets .navigation.web-applis .titre {
    grid-column: 3/13;
  }
}
.accueil .projets .navigation.web-applis .rangeeProjets {
  grid-column: 2/13;
}
@media screen and (min-width: 1000px) {
  .accueil .projets .navigation.web-applis .rangeeProjets {
    grid-column: 3/13;
  }
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 900px) {
    .accueil .projets .navigation.design-graphique {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
  }
}
.accueil .projets .navigation.design-graphique .titre {
  grid-column: 1/12;
}
@media screen and (min-width: 1000px) {
  .accueil .projets .navigation.design-graphique .titre {
    grid-column: 1/11;
  }
}
.accueil .projets .navigation.design-graphique .rangeeProjets {
  grid-column: 1/12;
}
@media screen and (min-width: 1000px) {
  .accueil .projets .navigation.design-graphique .rangeeProjets {
    grid-column: 1/11;
  }
}
.accueil .projets .navigation__lien-section {
  text-decoration: none;
  color: #000;
}
@media screen and (min-width: 1100px) {
  .accueil .projets .navigation__lien-section:hover .navigation__titre-section::after {
    margin-left: 2.5rem;
  }
}
.accueil .projets .navigation__titre-section {
  margin: 3rem 0 1rem 2rem;
  font-size: 4rem;
}
@media screen and (min-width: 1100px) {
  .accueil .projets .navigation__titre-section::after {
    background: url("../images/icones/fleche-section.svg") no-repeat center;
    height: 3.5rem;
    width: 3.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.5rem;
    content: "";
    transition: all 200ms ease-in-out;
  }
}
.accueil .projets .navigation__liste {
  list-style-type: none;
  padding: 0;
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 600px) {
    .accueil .projets .navigation__liste {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
  }
}
.accueil .projets .navigation__liste > * {
  grid-column: span 6;
  vertical-align: top;
}

/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 2.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* CONTACTER
*
*
*/
.contact__titre {
  padding: 2rem 0 1rem 0;
}
@media screen and (min-width: 600px) {
  .contact__titre {
    padding: 4rem 0 1rem 0;
  }
}
@media screen and (min-width: 900px) {
  .contact__titre {
    padding: 10rem 0 1rem 0;
  }
}
.contact__liste {
  padding: 0 0 5rem 0;
  list-style-type: none;
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 600px) {
    .contact__liste {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
  }
}
.contact__item {
  grid-column: span 4;
  padding: 2rem 0;
}
.contact__item:first-child {
  grid-column: 3/span 4;
}
.contact__lien {
  font-family: Roboto-Medium, sans serif;
  text-decoration: none;
  color: #404040;
  letter-spacing: 0.05rem;
  line-height: 100%;
  border-radius: 4rem;
}
.contact__lien:hover .courriel .elevation {
  fill: url(#courriel-elevation-hover);
}
.contact__lien:hover .courriel .enveloppe {
  fill: url(#enveloppe-hover);
}
.contact__lien:hover .linkedin .elevation {
  fill: url(#linkedin-bleu-hover);
}
.contact__lien:hover .linkedin .logotype {
  fill: url(#linkedin-gris-hover);
}
.contact__lien:hover .contact__figcaption {
  text-decoration: underline;
}
.contact__figure {
  margin: 0;
  text-align: center;
}
.contact__figure svg {
  width: 10rem;
  border: solid 3px #fff;
  border-radius: 3.5rem;
  vertical-align: middle;
  box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.05), -5px -5px 25px 0px white;
}
@media screen and (min-width: 600px) {
  .contact__figure svg {
    width: 13rem;
  }
}
.contact__figcaption {
  font-family: Roboto-Bold, sans serif;
  font-size: 3.5rem;
  display: inline-block;
  line-height: 120%;
  border-radius: 4rem;
  margin-top: 0.5rem;
  padding: 1.3rem 2rem;
  vertical-align: middle;
}

/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* MENUS
*
*
*/
@media screen and (min-width: 900px) {
  .menu .navigation__item {
    grid-column: span 3;
  }
}

/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 3.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* PROJETS
*
*
*/
/* Styles généraux, tous les projets */
@media screen and (min-width: 900px) {
  .projets__selecteur {
    position: relative;
    background-color: #FAFAFA;
    background-clip: padding-box;
    border: solid 2px transparent;
    border-radius: 55px;
    margin-bottom: 3rem;
  }
  .projets__selecteur:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(180deg, white 0%, #fcfcfc 100%);
  }
}
@supports (grid-template-columns: minmax(auto, 1400px)) {
  @media (min-width: 600px) {
    .projets__conteneurIcones {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
  }
}
.projets__titre-h2 {
  margin: 4rem 0 0 1rem;
  font-size: 4rem;
}
@media screen and (min-width: 900px) {
  .projets__titre-h2 {
    margin: 4rem 0 0 5rem;
  }
}

/* Styles spécifiques, aperçu d'un projet */
.projet__titre {
  font-size: 5.5rem;
  text-align: left;
  margin: 0;
  padding: 3rem 0 0 0;
}
@media screen and (min-width: 600px) {
  .projet__titre {
    font-size: 8rem;
  }
}
.projet__description {
  font-size: 2rem;
  letter-spacing: 0.05rem;
  color: #404040;
  margin: 1rem 0;
}
@media screen and (min-width: 600px) {
  .projet__description {
    font-size: 2.5rem;
  }
}
.projet__processus {
  list-style-type: none;
  padding: 0;
}
.projet__formats {
  padding: 1rem 4rem 1rem 0;
  font-size: 1.8rem;
}
@media screen and (min-width: 600px) {
  .projet__formats {
    display: inline-block;
    font-size: 2rem;
  }
}
.projet__figure {
  margin: 4rem 0 0 0;
}
@media screen and (min-width: 600px) {
  .projet__figure {
    margin: 7rem 0 0 0;
  }
}
.projet__figcaption {
  font-size: 1.6rem;
  margin-top: 2rem;
}
.projet.sans-contexte img {
  border-radius: 3.5rem;
  border: 2px solid #fff;
}
@media screen and (min-width: 600px) {
  .projet.masonry img {
    border-radius: 3.5rem;
    box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.05), -5px -5px 25px 0px white;
    border: solid 2px white;
  }
}
@media screen and (min-width: 600px) {
  .projet.macOS img {
    border-radius: 1rem;
    box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.05), -5px -5px 25px 0px white;
  }
}

/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* À PROPOS DE CE SITE
*
*
*/
.apropos .sous-titre {
  font-size: 4rem;
  font-family: Roboto-Bold, sans serif;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 800px) {
  @supports (grid-template-columns: minmax(auto, 1400px)) {
    @media screen and (min-width: 800px) and (min-width: 600px) {
      .apropos .quelques-chiffres {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 20px;
      }
    }
  }
  .apropos .quelques-chiffres h2 {
    grid-column: span 12;
  }
  .apropos .quelques-chiffres .statistique {
    grid-column: span 6;
  }
}
.apropos .projet {
  padding: 0;
}
.apropos .projet__formats.lien {
  display: block;
}
.apropos .projet .lien:hover {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
