/*
* Mixins des boutons
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 2.2
*/

/* Styles pour l'état survol */

@mixin boutonHover {
	text-decoration: none;
}

/* Styles pour l'état actif */

@mixin boutonActive {
	background-color: $jauneOfficiel;

	@media screen and (prefers-color-scheme: dark) {
		color: $noir;
	}
}

/* Styles pour la page courante */

@mixin boutonPageCourante {
	color: $noir;
	border: 0.3rem solid $jauneOfficiel;
	font-family: $RobotoBold;
	text-decoration: none;
	color: $noir;

	@media screen and (prefers-color-scheme: dark) {
		color: $blancSombre;
	}

	&:hover {
		text-decoration: underline;
	}
}
