/*
* Mixins des boutons
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 1.0
*/

/* Styles pour l'état survol */

@mixin boutonSurvol {
	background: linear-gradient(187.52deg, #fff000 6.26%, #ffe100 93.03%);
	box-shadow: -5px -5px 20px 0px rgba(255, 255, 255, 0.5),
		3px 5px 10px 0px rgba(0, 0, 0, 0.05);

	@media screen and (prefers-color-scheme: dark) {
		box-shadow: none;
	}
}

/* Styles pour l'état actif */

@mixin boutonActif {
	background: linear-gradient(187.52deg, #fff000 6.26%, #ffd700 93.03%);
	box-shadow: -5px -5px 20px 0px rgba(255, 255, 255, 0.5),
		3px 5px 10px 0px rgba(0, 0, 0, 0.05);

	@media screen and (prefers-color-scheme: dark) {
		box-shadow: none;
	}
}

/* Styles pour la page courante */

@mixin boutonPageCourante {
	border: 0.3rem solid rgba(255, 225, 0, 1);
	box-shadow: -5px -5px 20px 0px rgba(255, 255, 255, 0.5),
		3px 5px 10px 0px rgba(0, 0, 0, 0.05);

	@media screen and (prefers-color-scheme: dark) {
		box-shadow: none;
	}
}
