/*
* Styles des balises racine
* @author Gabriel Caron <gabriel.caron@gmail.com>
*/

@mixin soulignementLiens($modeMenu: false) {
	text-decoration: underline;

	@if $modeMenu == true {
		&:hover {
			& .navigation {
				&__figcaption {
					text-decoration-thickness: 0.35rem;
					text-underline-offset: 0.3rem;
					text-underline-position: from-font;

					@media screen and (prefers-color-scheme: dark) {
						text-decoration-thickness: 0.4rem;
					}
				}
			}
		}
		& .navigation {
			&__figcaption {
				text-decoration: underline;
			}
		}
	} @else {
		text-underline-offset: 0.5rem;

		&:hover {
			text-decoration-thickness: 0.35rem;
			text-underline-offset: 0.3rem;
			text-underline-position: from-font;

			@media screen and (prefers-color-scheme: dark) {
				text-decoration-thickness: 0.4rem;
			}
		}
	}
}

/* Base décimale */
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	background-color: $gris98;

	@media screen and (prefers-color-scheme: dark) {
		background-color: $noirSombre;
	}
}

a {
	@include soulignementLiens();
	outline-offset: 1rem;

	@media screen and (prefers-color-scheme: dark) {
		color: #64b9ff;

		&:visited {
			color: #b487ff;
		}
	}
}

@media screen and (prefers-color-scheme: dark) {
	li,
	figcaption {
		color: $blancSombre;
	}
}

abbr[title] {
	text-decoration-style: dotted;
}

img {
	vertical-align: bottom;
	max-width: 100%;
}

table {
	@media screen and (prefers-color-scheme: dark) {
		color: $blancSombre;
	}
}
