/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 2021.3
*
* ------------------
* TABLE DES MATIERES
* ------------------
* Utilisation du modèle de boîte avec Box-Sizing
* Classe conteneur pour le centrage du bloc parent avec CSS Grid
* Classe conteneur pour le positionnement de la rangée enfant en Grid
* Classe conteneur pour le positionnement de la rangée enfant en flexbox
*/

/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
html {
  box-sizing: border-box;
}

/*** Images responsives ***/
img {
  max-width: 100%;
}


// TODO faire la solution de repli de max-width pour nav plus anciens. Utiliser min-max comme condition&nbsp;? Voir ici: https://www.linkedin.com/learning/css-advanced-layouts-with-grid/check-for-grid-support

/*** Classe conteneur pour le centrage du bloc parent avec CSS Grid ***/
.conteneur {
  @include paddingConteneur;
  @media (min-width: $mobile600px) {
	display: grid;
	grid-template-columns: minmax(auto, 1400px);
	justify-content: center;
  }
}

/*** Classe conteneur pour le positionnement de la rangée enfant en Grid ***/
.rangeeGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

/*** Classe conteneur pour le positionnement de la rangée enfant en flexbox ***/
@media (min-width: 600px) {
  .rangeeFlex {
	display: flex;
	justify-content: space-between;
  }

}
