/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 6.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* ICONES DES PROJETS
** Conteneur
*
*
*/

// Bulle qui contient les icônes
@mixin bulle {
  position: relative;
  $bordure: 2px;
  background-color: $gris98;
  background-clip: padding-box;
  border: solid $bordure transparent;
  border-radius: 55px;

  @media screen and (prefers-color-scheme: dark) {
    background-color: $noirSombre;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$bordure;
    border-radius: inherit;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 1) 100%);

    @media screen and (prefers-color-scheme: dark) {
		background: linear-gradient(180deg, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 1) 100%);
    }
  }
}


/* État survol des icônes des projets */

.navigation {

  &__lien {

    // Nouveau projet

    @media screen and (min-width: $mobile600px) {
      &.nouveau {
        & .navigation__figcaption::before {
          content: "";
          display: inline-block;
          width: 1.4rem;
          height: 1.4rem;
          background-image: url(../images/icones/nouveau.svg);
          background-repeat: no-repeat;
          padding-right: 1rem;
        }

        &.nouveau:hover, &.nouveau:active {

          & .navigation__figcaption::before {
            background-image: url(../images/icones/nouveau--hover.svg);
          }
        }
      }
    }

    // Projets en ordre alphabétique

    // Toutes les icônes

    @media screen and (prefers-color-scheme: dark) {
      &.courant, &:hover {
        & svg {
          border: solid 2px transparentize($jauneOfficiel, 0.8);
        }
      }
    }

    // 100 ans de SOS
    @media screen and (prefers-color-scheme: dark) {
      & .SOS {
        & .bouee {
          fill: url(#SOS-rouge-sombre);
        }
      }
    }

    &.courant, &:hover {
      & .SOS {
        & .elevation {
          fill: url(#SOS-rouge-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .bouee {
          fill: url(#SOS-gris-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: url(#SOS-rouge-sombre);
          }
        }
      }
    }

    // Alaia
    @media screen and (prefers-color-scheme: dark) {
      & .alaia {
        & .planches {
          fill: url(#alaia-sable-sombre);
        }
      }
    }

    &.courant, &:hover {
      & .alaia {
        & .elevation {
          fill: url(#alaia-sable-defaut);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .planches {
          fill: url(#alaia-gris-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: url(#alaia-sable-sombre);
          }
        }
      }
    }

    // Altitude
    @media screen and (prefers-color-scheme: dark) {
      & .altitude {
        & .altisymbole {
          fill: url(#altitude-bleu-sombre);
        }
      }
    }

    &.courant, &:hover {
      & .altitude {
        & .elevation {
          fill: url(#altitude-bleu-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .altisymbole {
          fill: url(#altitude-gris-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: url(#altitude-bleu-sombre);
          }
        }
      }
    }

    // Aquafina
    @media screen and (prefers-color-scheme: dark) {
      & .aquafina {
        & .goutte {
          fill: url(#aquafina-bleu-sombre);
        }
      }
    }

    &.courant, &:hover {
      & .aquafina {
        & .elevation {
          fill: url(#aquafina-bleu-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .goutte {
          fill: url(#aquafina-gris-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: url(#aquafina-bleu-sombre);
          }
        }
      }
    }

    // Boréal
    @media screen and (prefers-color-scheme: dark) {
      & .boreal {
        & .feuille {
          fill: url(#boreal-vert-sombre);
        }
      }
    }

    &.courant, &:hover {
      & .boreal {
        & .elevation {
          fill: url(#boreal-vert-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .feuille {
          fill: url(#boreal-gris-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: url(#boreal-vert-sombre);
          }
        }
      }
    }

    // Danse en boîtes
    &.courant, &:hover {
      & .danseenboites {
        & .elevation {
          fill: url(#danseenboites-orange-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .masques {
          fill: url(#danseenboites-gris-hover);

          @media screen and (prefers-color-scheme: dark) {
            // Même dégradé état initial et hover
          }
        }
      }
    }

    // Destinations Canada
    &.courant, &:hover {
      & .destinations {
        & .elevation {
          fill: url(#destinations-rouge-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .symbole {
          fill: url(#destinations-gris-hover);
        }
      }
    }

    // Élite
    &.courant, &:hover {
      & .elite {
        & .elevation {
          fill: url(#elite-rouge-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .etincelle {
          fill: url(#elite-gris-hover);
        }
      }
    }

    // Festival OFF
    &.courant, &:hover {
      & .festivaloff {
        & .elevation {
          fill: url(#festivaloff-violet-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .note {
          fill: url(#festivaloff-gris-hover);
        }
      }
    }

    // Grosse-Île
    &.courant, &:hover {
      & .grosseile {
        & .elevation {
          fill: url(#grosseile-vert-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .croix {
          fill: url(#grosseile-gris-hover);
        }
      }
    }

    // Manuel de typographie
    &.courant, &:hover {
      & .manueldetypo {
        & .elevation {
          fill: url(#manueldetypo-bleu-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .livre {
          fill: url(#manueldetypo-gris-hover);
        }
      }
    }

    // Memorize
    &.courant, &:hover {
      & .memorize {
        & .elevation {
          fill: url(#memorize-orange-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .cartes {
          fill: url(#memorize-gris-hover);
        }
      }
    }

    // Mettez le feu à votre créativité
    &.courant, &:hover {
      & .creativite {
        & .elevation {
          fill: url(#creativite-orange-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .feu {
          fill: url(#creativite-gris-hover);
        }
      }
    }

    // Mexico
    &.courant, &:hover {
      & .mexico {
        & .elevation {
          fill: url(#mexico-orange-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .guitare {
          fill: url(#mexico-gris-hover);
        }
      }
    }

    // Presto!
    &.courant, &:hover {
      & .presto {
        & .elevation {
          fill: url(#presto-vert-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .prestosymbole {
          fill: url(#presto-gris-hover);
        }
      }
    }

    // Reprends le contrôle
    &.courant, &:hover {
      & .controle {
        & .elevation {
          fill: url(#controle-jaune-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .pantin {
          fill: url(#controle-gris-hover);
        }
      }
    }

    // Tim
    &.courant, &:hover {
      & .tim {
        & .elevation {
          fill: url(#tim-bleu-hover);

          @media screen and (prefers-color-scheme: dark) {
            fill: transparentize($jauneOfficiel, 0.90);
          }
        }

        & .logotim {
          fill: url(#tim-gris-hover);
        }
      }
    }
  }
}

// Liens avec icones pour formats

.lien {
  font-family: $RobotoMedium;
  text-decoration: none;
  letter-spacing: $EspacementStandard;

  &::before {
    content: "";
    display: inline-block;
    width: 3.5rem;
    height: 5rem;
    vertical-align: middle;
    margin-top: -0.5rem;
    padding-right: 1rem;
    background-repeat: no-repeat;
    transition: all, 0.1s ease-in-out;
  }

  &:link, &:visited {
    color: $gris25;

    @media screen and (prefers-color-scheme: dark) {
      color: $gris65AAA;
    }
  }

  &:hover, &:active {
    color: $noir;
    text-decoration: underline;

    @media screen and (prefers-color-scheme: dark) {
      color: $blancSombre;
    }
  }

  &.axure {

    &::before {
      background-image: url(../images/icones/axure.svg);

      @media screen and (prefers-color-scheme: dark) {
        background-image: url(../images/icones/axure--sombre.svg);
      }
    }

    &:hover, &:active {

      &::before {
        background-image: url(../images/icones/axure--hover.svg);
      }
    }
  }

  &.figma {

    &::before {
      background-image: url(../images/icones/figma.svg);

      @media screen and (prefers-color-scheme: dark) {
        background-image: url(../images/icones/figma--sombre.svg);
      }
    }

    &:hover, &:active {

      &::before {
        background-image: url(../images/icones/figma--hover.svg);
      }
    }
  }

  &.github {

    &::before {
      background-image: url(../images/icones/github.svg);

      @media screen and (prefers-color-scheme: dark) {
        background-image: url(../images/icones/github--sombre.svg);
      }
    }

    &:hover, &:active {

      &::before {
        background-image: url(../images/icones/github--hover.svg);
      }
    }
  }

  &.pdf {

    &::before {
      background-image: url(../images/icones/pdf.svg);

      @media screen and (prefers-color-scheme: dark) {
        background-image: url(../images/icones/pdf--sombre.svg);
      }
    }

    &:hover, &:active {

      &::before {
        background-image: url(../images/icones/pdf--hover.svg);
      }
    }
  }

  &.rtf {

    &::before {
      background-image: url(../images/icones/rtf.svg);

      @media screen and (prefers-color-scheme: dark) {
        background-image: url(../images/icones/rtf--sombre.svg);
      }
    }

    &:hover, &:active {

      &::before {
        background-image: url(../images/icones/rtf--hover.svg);
      }
    }
  }

  &.sketch {

    &::before {
      background-image: url(../images/icones/sketch.svg);

      @media screen and (prefers-color-scheme: dark) {
        background-image: url(../images/icones/sketch--sombre.svg);
      }
    }

    &:hover, &:active {

      &::before {
        background-image: url(../images/icones/sketch--hover.svg);
      }
    }
  }

  &.web {

    &::before {
      background-image: url(../images/icones/web.svg);

      @media screen and (prefers-color-scheme: dark) {
        background-image: url(../images/icones/web--sombre.svg);
      }
    }

    &:hover, &:active {

      &::before {
        background-image: url(../images/icones/web--hover.svg);
      }
    }
  }

  &.xd {

    &::before {
      background-image: url(../images/icones/xd.svg);

      @media screen and (prefers-color-scheme: dark) {
        background-image: url(../images/icones/xd--sombre.svg);
      }
    }

    &:hover, &:active {

      &::before {
        background-image: url(../images/icones/xd--hover.svg);
      }
    }
  }
}

// Lien externe

.externe:hover {
  &::after {
    margin: 0 0 0.75rem 0.75rem;
  }
}

.externe::after {
  background: url("../images/icones/lien-externe.svg") no-repeat center;
  height: 1.75rem;
  width: 1.75rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
  content: "";
  transition: all 200ms ease-in-out;

  @media screen and (prefers-color-scheme: dark) {
    background: url("../images/icones/lien-externe--sombre.svg") no-repeat center;
  }
}
