/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 2021.6
*
* ------------------
* TABLE DES MATIERES
* ------------------
* ICONES
** Conteneur
*
*
*/

// Bulle qui contient les icônes
@mixin bulle {
  position: relative;
  $bordure: 2px;
  background-color: $gris98;
  //background-color: #5ac6ee; // pour tester uniquement
  background-clip: padding-box;
  border: solid $bordure transparent;
  border-radius: 55px;
  //display: inline-block;

  &:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -$bordure;
	border-radius: inherit;
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 1) 100%);
  }
}


/* État survol des icônes des projets */


.navigation {

  &__lien {

	// Nouveau projet

	&.nouveau {
	  & .navigation__figcaption::before {
		content: "";
		display: inline-block;
		width: 1.4rem;
		height: 1.4rem;
		background-image: url(../images/icones/nouveau.svg);
		background-repeat: no-repeat;
		padding-right: 1rem;
	  }

	  &.nouveau:hover, &.nouveau:active {

		& .navigation__figcaption::before {
		  background-image: url(../images/icones/nouveau--hover.svg);
		}
	  }
	}

	// Lien externe

	&:hover {
	  &.externe {
		&::after {
		  margin: 0 0 0.75rem 0.75rem;
		}
	  }
	}

	&.externe::after {
	  background: url("../images/icones/lien-externe.svg") no-repeat center;
	  height: 1.75rem;
	  width: 1.75rem;
	  display: inline-block;
	  vertical-align: middle;
	  margin-left: 0.5rem;
	  content: "";
	  transition: all 200ms ease-in-out;
	}

	// Projets en ordre alphabétique

	// 100 ans de SOS
	&.courant, &:hover {
	  & .SOS {
		& .elevation {
		  fill: url(#SOS-elevation-hover);
		}

		& .anneau {
		  fill: url(#SOS-anneau-hover);
		}

		& .cordes {
		  fill: #f34b18;
		}
	  }
	}

	// Alaia
	&.courant, &:hover {
	  & .alaia {
		& .elevation {
		  fill: url(#alaia-bleu);
		}

		& .planche-devant {
		  fill: url(#alaia-gris-devant);
		}

		& .planche-arriere {
		  fill: url(#alaia-gris-arriere);
		}

		& .planche-ligne {
		  fill: #045D85;
		}
	  }
	}

	// Altitude
	&.courant, &:hover {
	  & .altitude {
		& .elevation {
		  fill: url(#altitude-bleu-hover);
		}

		& .altisymbole {
		  fill: url(#altitude-gris-hover);
		}
	  }
	}

	// Aquafina
	&.courant, &:hover {
	  & .aquafina {
		& .elevation {
		  fill: url(#elevation-bleu-hover);
		}

		& .goutte {
		  fill: url(#goutte-gris-hover);
		}
	  }
	}

	// Danse en boîtes
	&.courant, &:hover {
	  & .danseenboites {
		& .elevation {
		  fill: url(#danse-or-elevation-hover);
		}

		& .danse-masque-joyeux {
		  fill: url(#danse-gris-masque-joyeux-hover);
		}

		& .danse-masque-triste {
		  fill: url(#danse-gris-masque-triste-hover);
		}
	  }
	}

	// Destinations Canada
	&.courant, &:hover {
	  & .destinations {
		& .elevation {
		  fill: url(#destinations-rouge-hover);
		}

		& .symbole {
		  fill: url(#destinations-gris-hover);
		}
	  }
	}

	// Grosse-Île
	&.courant, &:hover {
	  & .grosseile {
		& .elevation {
		  fill: url(#grosseile-vert-hover);
		}

		& .croix {
		  fill: url(#grosseile-gris-hover);
		}
	  }
	}

	// Memorize
	&.courant, &:hover {
	  & .memorize {
		& .elevation {
		  fill: url(#memorize-elevation-hover);
		}

		& .carte-dos-haut {
		  fill: url(#memorize-carte-dos-haut-hover);
		}

		& .carte-dos-bas {
		  fill: url(#memorize-carte-dos-bas-hover);
		}

		& .carte-face-bas {
		  fill: url(#memorize-carte-face-bas-hover);
		}

		& .carte-face-haut {
		  fill: url(#memorize-carte-face-haut-hover);
		}

		& .carte-face-contours {
		  stroke: $blanc;
		}
	  }
	}

	// Mexico
	&.courant, &:hover {
	  & .mexico {
		& .elevation {
		  fill: url(#mexico-orange-lineaire);
		}

		& .guitare path {
		  fill: url(#mexico-gris);
		}
	  }
	}

	// Presto!
	&.courant, &:hover {
	  & .presto {
		& .elevation {
		  fill: url(#presto-vert-hover);
		}

		& .prestosymbole {
		  fill: url(#presto-gris-hover);
		}
	  }
	}
  }
}

// Liens avec icones pour formats

.lien {
  font-family: $RobotoMedium;
  text-decoration: none;
  letter-spacing: $EspacementStandard;

  &::before {
	content: "";
	display: inline-block;
	width: 3.5rem;
	height: 5rem;
	vertical-align: middle;
	margin-top: -0.5rem;
	padding-right: 1rem;
	background-repeat: no-repeat;
	transition: all, 0.1s ease-in-out;
  }

  &:link, &:visited {
	color: $gris25;
  }

  &:hover, &:active {
	color: $noir;
	text-decoration: underline;
  }

  &.axure {

	&::before {
	  background-image: url(../images/icones/axure.svg);
	}

	&:hover, &:active {

	  &::before {
		background-image: url(../images/icones/axure--hover.svg);
	  }
	}
  }

  &.figma {

	&::before {
	  background-image: url(../images/icones/figma.svg);
	}

	&:hover, &:active {

	  &::before {
		background-image: url(../images/icones/figma--hover.svg);
	  }
	}
  }

  &.github {

	&::before {
	  background-image: url(../images/icones/github.svg);
	}

	&:hover, &:active {

	  &::before {
		background-image: url(../images/icones/github--hover.svg);
	  }
	}
  }

  &.pdf {

	&::before {
	  background-image: url(../images/icones/pdf.svg);
	}

	&:hover, &:active {

	  &::before {
		background-image: url(../images/icones/pdf--hover.svg);
	  }
	}
  }

  &.rtf {

	&::before {
	  background-image: url(../images/icones/rtf.svg);
	}

	&:hover, &:active {

	  &::before {
		background-image: url(../images/icones/rtf--hover.svg);
	  }
	}
  }

  &.sketch {

	&::before {
	  background-image: url(../images/icones/sketch.svg);
	}

	&:hover, &:active {

	  &::before {
		background-image: url(../images/icones/sketch--hover.svg);
	  }
	}
  }

  &.web {

	&::before {
	  background-image: url(../images/icones/web.svg);
	}

	&:hover, &:active {

	  &::before {
		background-image: url(../images/icones/web--hover.svg);
	  }
	}
  }

  &.xd {

	&::before {
	  background-image: url(../images/icones/xd.svg);
	}

	&:hover, &:active {

	  &::before {
		background-image: url(../images/icones/xd--hover.svg);
	  }
	}
  }
}
