/**
* Typographie responsive (Mobile First)
========================================================================
*
* @author Gabriel Caron
*
* TABLE DES MATIÈRES
* Polices
* Base décimale
* Hiérarchie responsive
*
*
* Doc des points de rupture :
* ==========================================================================
* Écran mobile : de 0 à 599px
* point de rupture: 600px
*
* Écran tablette : de 600 à 799px
* point de rupture: 800px
*
* Écran desktop : 800px et +
*/

/* Polices */
@font-face {
  font-family: Roboto-Regulier;
  src: url(../../liaisons/polices/ro.woff2) format('woff2'),
  url(../../polices/heebo-light.woff) format('woff'),
  url(../../polices/heebo-light.ttf) format('truetype');
}

h1, h2, h3 {
  font-family: Heebo-Bold, sans-serif;
  line-height: 110%;
  letter-spacing: 1px;
}

h1 {
  @include fontSize(50px);
  text-align: center;
  color: $vertForet;
  margin: 0;
  padding: 5rem 0 1rem 0;
}

h2 {
  @include fontSize(35px);
  color: $vertForet;
}

h3 {
  @include fontSize(25px);
  color: $vertForet;
}


/* Base décimale */
html {
  font-size: 62.5%;
}

body {
  font-family: Heebo-Light, sans-serif;
  /* 16px pour toutes les largeurs d'écran */
  @include fontSize(16px);
  line-height: 1.5;
}

ol {
  line-height: 1.5em;
  font-size: 1.25em;
}

ol li {
  padding: 0.5em 0;
}

p {
  @include fontSize(20px);
}
