/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 2021.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* EN-TÊTE
*
*
*/


.entete {
  @include conteneur1400px();
  margin-top: 5.5rem;

  //&__lien-accueil {
  //}

  &__logo {
	width: 285px;
  }

  &__menu {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
  }
}
