/*
* En-tête
* @author Gabriel Caron <gabriel.caron@gmail.com>
*/

.entete {
	@include conteneur1400px();

	@media screen and (min-width: $mobile600px) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@media screen and (min-width: $tablet900px) {
		padding-bottom: 3rem;
	}

	@media screen and (min-width: 1000px) {
		padding-left: 5rem;
		padding-right: 5rem;
		padding-bottom: 10rem;
	}

	// Positionnement des vagues

	@media screen and (min-width: 1000px) {
		background-image: url("../images/design/vagues-entete.svg");
		background-repeat: no-repeat;
		background-position: 40vw 0;
	}
	@media screen and (min-width: 1400px) {
		background-position: 44vw 0;
	}
	@media screen and (min-width: 1600px) {
		background-position: 46vw 0;
	}
	@media screen and (min-width: 1920px) {
		background-position: 48vw 0;
	}

	&__lien-accueil {
		@media screen and (max-width: calc($tablet900px - 1px)) {
			flex-basis: 100%;
		}

		&:hover,
		&:focus {
			& .maison {
				display: block;

				@media screen and (prefers-color-scheme: dark) {
					fill: $noirSombre;
				}
			}

			& .signature {
				display: none;
			}
		}
	}

	&__logo {
		width: 20rem;
		height: 4.885rem;
		margin-left: 0.5rem;
		display: block; // si flex non fonctionnel

		@media screen and (min-width: $tablet900px) {
			width: 25rem;
			height: 6.1rem;
			margin-left: 0;
		}

		& .signature {
			@media screen and (prefers-color-scheme: dark) {
				fill: $noirSombre;
			}
		}

		& .maison {
			display: none;
		}

		& .logotype {
			@media screen and (prefers-color-scheme: dark) {
				fill: $blancSombre;
			}
		}
	}

	&__menu {
		align-items: baseline;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 5.5rem;
	}
}
