/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 2021.1
*
* ------------------
* TABLE DES MATIERES
* ------------------
* EN-TÊTE
*
*
*/


.entete {
  @include conteneur1400px();

  // Positionnement des vagues
  background-image: url("../images/vagues-entete.svg");
  background-repeat: no-repeat;
  background-position: 30rem -7rem;
  background-size: 70rem;
  height: 23rem;
  @media screen and (min-width: $tablet900px) {
	background-position: 35vw -2vw;
	background-size: initial;
	height: 30rem;
  }
  @media screen and (min-width: 1000px) {
	background-position: 40vw 0;
  }
  @media screen and (min-width: 1400px) {
	background-position: 44vw 0;
  }
  @media screen and (min-width: 1600px) {
	background-position: 46vw 0;
  }
  @media screen and (min-width: 1920px) {
	background-position: 48vw 0;
  }

  &__lien-accueil {
	@media screen and (max-width: $tablet900px - 1) {
	  flex-basis: 100%;
	}
  }

  &__logo {
	background-image: url("../images/iv-gabrielcaron.svg");
	background-repeat: no-repeat;
	width: 217px;
	height: 53px;
	margin-left: 2rem;
	@media screen and (min-width: 1000px) {
	  width: 285px;
	  height: 70px;
	  margin-left: 0;
	}
  }

  &__menu {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 5.5rem;
  }
}
