/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 2021.1
*
* ------------------
* TABLE DES MATIERES
* ------------------
* ICONES
** Conteneur
*
*
*/

// Bulle qui contient les icônes
.bulle {
  position: relative;
  $bordure: 2px;
  background-color: $gris98;
  //background-color: #5ac6ee; // pour tester uniquement
  background-clip: padding-box;
  border: solid $bordure transparent;
  border-radius: 55px;
  display: inline-block;

  &:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -$bordure;
	border-radius: inherit;
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 1) 100%);
  }
}

// Styles généraux des icônes
.icone {
  border: solid 3px $blanc;
  border-radius: $arrondiMobile;
  box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.05), -5px -5px 25px 0px rgba(255, 255, 255, 1);
  @media screen and (min-width: $desktop1200px) {
	border-radius: $arrondiTable;
  }
}

.icone-figure {
  display: inline-block;
  margin: 0;
  text-align: center;

  svg {
    width: 100%;
	margin-left: -3px;
  }

  svg #fond {
    transition: all 0.1s ease-in-out;
  }
  &:hover {
    svg #fond {
      fill: green;
    }
  }
}
