/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 4.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* NAVIGATION
*
*
*/

/* En-tête */

.entete .navigation {
  width: 100%;
  @media screen and (min-width: $tablet900px) {
	width: initial;
  }

  &__liste {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 3.5rem 0;
  }

  &__item {
	display: inline-block;

	@media screen and (min-width: $mobile600px) {
	  margin-left: 1rem;
	}
  }

  &__lien {
	display: inline-block;
	font-family: $RobotoMedium;
	font-size: 1.6rem;
	color: $gris25;
	text-decoration: none;
	line-height: 120%;
	letter-spacing: $EspacementStandard;
	padding: 1rem 1.5rem;
	margin: 0 0.3rem;
	text-align: center;
	@media screen and (min-width: 550px) {
	  font-size: 2rem;
	  padding: 1.2rem 2.5rem;
	}
	@media screen and (min-width: $tablet900px) {
	  font-size: 1.8rem;
	}
	@media screen and (min-width: 1100px) {
	  font-size: 2rem;
	}

	&:link, &:visited {
	  border: solid 1px transparent;
	  border-radius: 2.5rem;
	  transition: background 0.1s ease-in-out; //linear-gradient pas supporté par CSS Transitions
	  @media screen and (min-width: $mobile600px) {
		border-radius: 3rem;
	  }
	}

	&:hover {
	  // Technique pour obtenir des coins arrondis avec un dégradé
	  position: relative;
	  $bordure: 1px;
	  background: linear-gradient(175deg, #FFF000 6.26%, #FFE100 93.03%);
	  background-clip: padding-box;
	  border: solid $bordure transparent;


	  &:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		margin: -$bordure;
		border-radius: inherit;
		background: linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 100%);
		box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 20px #FFFFFF;
	  }

	}

	&:active {
	  // Cette technique est nécessaire pour obtenir des coins arrondis avec un dégradé
	  position: relative;
	  $bordure: 1px;
	  background: linear-gradient(175deg, #FFF000 6.26%, #FFD700 93.03%);
	  background-clip: padding-box;
	  border: solid $bordure transparent;

	  &:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		margin: -$bordure;
		border-radius: inherit;
		background: linear-gradient(180deg, #E6E6E6 0%, #FFFFFF 100%);
		box-shadow: -5px -5px 20px 0px rgba(255, 255, 255, 1), 3px 5px 10px 0px rgba(0, 0, 0, 0.05);
	  }
	}

	&.courante {
	  @include boutonPageCourante;
	  line-height: 120%;

	  &:hover {
		border: none;
		padding: 1.3rem 1.8rem;
		@media screen and (min-width: 550px) {
		  padding: 1.5rem 2.8rem;
		}
	  }
	}
  }
}

/* Projets */

.projets .navigation {

  &.web-applis {
	@media screen and (min-width: $tablet900px) {
	  padding: 1rem 3rem 1.5rem 1rem;
	}
  }

  &.design-graphique {
	@media screen and (min-width: $tablet900px) {
	  padding: 1rem 1rem 1.5rem 3rem;
	}
  }

  &__liste {
	list-style-type: none;
	padding: 0;
	vertical-align: top;
	@media screen and (min-width: $tablet900px) {
	  padding: 0 3rem;
	}

	&.rangeeSections {
	  @media screen and (min-width: $tablet900px) {
		padding: 1rem 0 1rem 3rem;
	  }

	  & > * {
		width: initial;
	  }
	}
  }

  &__item {
	display: inline-block;
	vertical-align: top;
	padding: 1rem 0;
	@media screen and (max-width: $mobile600px - 1px) {
	  width: calc(50% - 1.3rem);
	}
	&.block {
	  display: block;
	  padding: 1.5rem 0;
	  @media screen and (min-width: 650px) {
		display: inline-block;
		padding: 1rem 0;
	  }
	}

	&:nth-child(odd) {
	  padding-right: 2rem;
	  @media screen and (min-width: $mobile600px) {
		padding-right: initial;
	  }
	}

	@media screen and (min-width: $mobile600px) {
	  grid-column: span 6;
	}

	@media screen and (min-width: $tablet900px) {
	  grid-column: span 3;
	}

	@media screen and (min-width: $desktop1100px) {
	  grid-column: span 2;
	}
  }

  &__lien {
	font-family: $RobotoMedium;
	text-decoration: none;
	color: $gris25;
	letter-spacing: $EspacementStandard;
	line-height: 100%;
	border-radius: $arrondiMobile;
  }

  &__figure {
	margin: 0;
	text-align: center;

	& svg {
	  border: solid 3px $blanc;
	  border-radius: $arrondiMobile;
	  box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.05), -5px -5px 25px 0px rgba(255, 255, 255, 1);
	  @media screen and (min-width: $mobile600px) {
		border-radius: $arrondiTable;
	  }
	  @media screen and (min-width: $tablet900px) {
		border-radius: $arrondiMobile;
	  }
	  @media screen and (min-width: $desktop1100px) {
		border-radius: $arrondiMobile;
	  }
	  @media screen and (min-width: 1400px) {
		border-radius: $arrondiTable;
	  }
	}
  }

  &__figcaption {
	font-family: $RobotoMedium;
	font-size: 1.6rem;
	display: inline-block;
	line-height: 120%;
	border-radius: $arrondiMobile;
	margin-top: 0.5rem;
	padding: 1.3rem 2.3rem;
  }

  // Styles spécifique aux liens des sections
  & .rangeeSections {

	& .courant {
	  @include boutonPageCourante;
	}

	& .navigation__lien {
	  font-size: 2rem;
	  @media screen and (min-width: 550px) {
		font-size: 2.4rem;
	  }
	  padding: 1rem 2.7rem;
	  margin: 0 0.3rem;

	  &:hover {
		@include boutonSurvol;

		&.courant {
		  border: none;
		  padding: 1.3rem 3rem;
		}
	  }

	  &:active {
		@include boutonActif;

		&.courant {
		  border: none;
		  padding: 1.3rem 3rem;
		  margin: 0 0.3rem;
		}
	  }
	}
  }

  // Styles spécifiques aux liens des projets

  & .rangeeProjets {

	.navigation {
	  &__lien {
		&:hover {
		  & .navigation__figcaption {
			border: none;
			@include boutonSurvol;
		  }
		  &.courant {
			& .navigation__figcaption {
			  border: none;
			  padding: 1.3rem 2.3rem;
			}
		  }
		}

		&:active {
		  & .navigation__figcaption {
			@include boutonActif;
		  }
		}

		&.courant {
		  & .navigation__figcaption {
			@include boutonPageCourante;
			padding: 1rem 2rem;
		  }
		}
	  }
	}
  }
}



/* Pied de page */

.pieddepage {
  .navigation {
	grid-column: 1 / 13;
	@media screen and (min-width: 600px) {
	  @include rangeeGrid12col();
	  row-gap: 0;
	}

	.rangee1 {
	  grid-row: 1;
	}

	.rangee2 {
	  grid-row: 2;
	}

	.rangee3 {
	  grid-row: 3;
	}

	.rangee4 {
	  grid-row: 4;
	}

	&__titre {
	  grid-column: span 4;
	  color: $noir;
	  text-decoration: none;
	  line-height: 110%;
	  font-size: 2.5rem;

	  & .section {
		color: $noir;
		font-family: $RobotoBold;
		font-size: 2.5rem;
	  }
	}

	&__liste {
	  grid-column: span 4;
	  list-style-type: none;
	  padding: 0;
	  margin-top: 0;
	}

	&__lien {
	  font-family: $RobotoMedium;
	  font-size: 2rem;
	  color: $gris25;
	  text-decoration: none;
	  line-height: 175%;
	  letter-spacing: $EspacementStandard;
	  transition: border-bottom 0.075s ease-in-out;

	  &.section {
		line-height: 100%;
	  }

	  &:hover {
		border-bottom: solid 0.3rem $gris25;
	  }
	}
  }

  &__copyright {
	grid-column: 1 / 13;
  }
}
