/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 2021.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* PIED DE PAGE
*
*
*/

.pieddepage {
  @include conteneur1400px();
  padding: 0 3rem 0 3rem;
  background-image: linear-gradient(to right bottom, #fff000, #FFEB00);
  margin-top: 10rem;

  @media screen and (min-width: 1700px) {
	border-radius: 20rem 0 0 0;
  }

  &__conteneurGrille {
	@include rangeeGrid12col();
  }

  &__titres {
	font-family: $RobotoMedium;
	font-size: 2rem;
	color: $gris25;
	line-height: 150%;
	letter-spacing: 0.05rem;
	margin: 2rem 0 0 0;
	@media screen and (min-width: $mobile600px) {
	  margin: 0.75rem 0 0 0;
	  padding-left: 4rem;
	}
  }

  &__rangeeLogo {
	padding: 6rem 0 2rem 0;
	@media screen and (min-width: $mobile600px) {
	  grid-column: 1 / 13;
	  @include rangeeFlex;
	  justify-content: flex-start;
	  padding: 10rem 0 5rem 0;
	}
  }

  &__logo {
	background-image: url("../images/iv-gabrielcaron-nb.svg");
	background-repeat: no-repeat;
	width: 250px;
	height: 60px;
	display: block;
  }

  &__copyright {
	position: relative;
	top: 13rem;
	font-size: 1.6rem;
	letter-spacing: 0.05rem;
  }

  &__vagues {
	padding-top: 5rem;
  }
}
