/**
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 1.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* PIED DE PAGE
*
*
*/

.pieddepage {
  @include conteneur1400px();
  padding: 0 3rem 5rem 3rem;
  background-image: linear-gradient(to right bottom, #fff000, #FFEB00);
  margin-top: 10rem;

  @media screen and (min-width: $tablet900px) {
	padding: 0 5rem 0 5rem;
  }

  @media screen and (min-width: 1700px) {
	border-radius: 20rem 0 0 0;
  }

  @media screen and (prefers-color-scheme: dark) {
	background-image: linear-gradient(to right bottom, #1D1B16, #1C1A15);
  }

  &__conteneurGrille {
	@include rangeeGrid12col();
  }

  &__titres {
	font-family: $RobotoMedium;
	font-size: 2rem;
	color: $gris25;
	line-height: 150%;
	letter-spacing: $EspacementStandard;
	margin: 2rem 0 0 0;

	@media screen and (min-width: $mobile600px) {
	  margin: 0.75rem 0 0 0;
	  padding-left: 4rem;
	}

	@media screen and (prefers-color-scheme: dark) {
	  color: $gris65AAA;
	}
  }

  &__rangeeLogo {
	padding: 6rem 0 2rem 0;

	@media screen and (min-width: $mobile600px) {
	  grid-column: 1 / 13;
	  @include rangeeFlex;
	  justify-content: flex-start;
	  padding: 10rem 0 5rem 0;
	}
  }

  &__lien-accueil {
	&:hover, &:focus {
	  & .maison {
		display: block;

		@media screen and (prefers-color-scheme: dark) {
		  fill: $noirSombre;
		}
	  }
	  & .signature {
		display: none;
	  }
	}
  }

  &__logo {
	width: 250px;
	height: 60px;
	display: block;

	& .maison {
	  display: none;
	}

	@media screen and (prefers-color-scheme: dark) {
	  & .elevation {
		fill: $jauneOfficiel;
	  }

	  & .signature {
		fill: $noirSombre;
	  }

	  & .logotype {
		fill: $blancSombre;
	  }
	}
  }

  &__copyright {
	font-size: 1.6rem;
	letter-spacing: $EspacementStandard;
	color: $noir;

	@media screen and (prefers-color-scheme: dark) {
	  color: $gris65AAA;
	}

	@media screen and (min-width: $tablet900px) {
	  position: relative;
	  top: 13rem;
	}
  }

  &__vagues {
	padding-top: 5rem;
	display: none;

	@media screen and (min-width: $tablet900px) {
	  display: block;
	}
  }
}
