/**
* @author Gabriel Caron - 1861095@csfoy.ca
* @version 2021.5
*
* ------------------
* TABLE DES MATIERES
* ------------------
* UTILITAIRES DE BASE
** Box sizing
* Clearfix
* ACCESSIBILITÉ
** Visually hidden/screen reader only
** Lien sauter au contenu
* TYPOGRAPHIE
* Fonction pour convertir une valeur de font-size en pixels à son équivalent rem
* Mixin qui inclus la solution de repli en pixel suivi par la valeur calculée en rem
* Mixin pour conteneur de base à 1200px
* Mixin pour rangée Flex par défaut
* Mixin pour rangée Grid sur 12 colonnes
* Mixin pour le padding de base pour mobile
*/

/***** Utilitaires de base *****/

/** Box sizing **/
@mixin border-box-sizing {
  html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }
}

/* Clearfix */
@mixin clearfix {
  &:after {
	content: " ";
	display: table;
	clear: both;
  }
}

/***** Accessibilité *****/

// Hide only visually, but have it available for screenreaders:
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  // Extends the .visuallyhidden class to allow the element to be focusable
  // when navigated to via the keyboard: https://www.drupal.org/node/897638
  &.focusable:active,
  &.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
  }
}

.visuallyhidden,
.screen-reader-only {
  @include visuallyhidden;
}

.sauter-contenu {
  display: block;
  padding: 0 3rem;
  line-height: 5rem;
  color: $noir;
  background-color: $jauneOfficiel;
  text-align: center;
}


// Mixin pour conteneur parent en Grid
@mixin conteneur1400px($conteneurBleed: false) {
  @include paddingConteneur;
  @supports (grid-template-columns: minmax(auto, 1400px)) {
	@media (min-width: $mobile600px) {
	  display: grid;
	  grid-template-columns: minmax(auto, 1400px);
	  justify-content: center;
	  @if $conteneurBleed == true {
		padding: 0;
	  }
	}
  }
  @supports not (grid-template-columns: minmax(auto, 1400px)) {
	max-width: 1400px;
  }
}

// Mixin pour rangée Grid sur 12 colonnes
@mixin rangeeGrid12col($pointRupture: $mobile600px) {
  @supports (grid-template-columns: minmax(auto, 1400px)) {
	@media (min-width: $pointRupture) {
	  display: grid;
	  grid-template-columns: repeat(12, 1fr);
	  column-gap: 20px;
	}
  }
}


// Mixin pour rangée Flex par défaut
@mixin rangeeFlex {
  display: flex;
  justify-content: space-between;
}

// Mixin pour le padding de base pour mobile si Grid ou Flex ne sont pas utilisés
@mixin paddingConteneur {
  padding-left: 3rem;
  padding-right: 3rem;
  @media screen and (min-width: 1000px) {
	padding-left: 5rem;
	padding-right: 5rem;
  }
  @media screen and (min-width: 1930px) {
	padding-left: 0;
	padding-right: 0;
  }
}
