/**
* @author Gabriel Caron - 1861095@csfoy.ca
* @version 2021.3
*
* ------------------
* TABLE DES MATIERES
* ------------------
* UTILITAIRES DE BASE
** Box sizing
* Clearfix
* ACCESSIBILITÉ
** Visually hidden/screen reader only
** Lien sauter au contenu
* TYPOGRAPHIE
* Fonction pour convertir une valeur de font-size en pixels à son équivalent rem
* Mixin qui inclus la solution de repli en pixel suivi par la valeur calculée en rem
* Mixin pour conteneur de base à 1200px
* Mixin pour rangée Flex par défaut
* Mixin pour rangée Grid sur 12 colonnes
* Mixin pour le padding de base pour mobile
*/

/***** Utilitaires de base *****/

/** Box sizing **/
@mixin border-box-sizing {
  html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }
}

/* Clearfix */
@mixin clearfix {
  &:after {
	content: " ";
	display: table;
	clear: both;
  }
}

/***** Accessibilité *****/

// Hide only visually, but have it available for screenreaders:
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  // Extends the .visuallyhidden class to allow the element to be focusable
  // when navigated to via the keyboard: https://www.drupal.org/node/897638
  &.focusable:active,
  &.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
  }
}

.visuallyhidden,
.screen-reader-only {
  @include visuallyhidden;
}

.sauter-contenu {
  padding: 2rem 6rem;
  line-height: 12rem;
  color: $blanc;
  background-color: #3200C1;
  top: -12px;
}


// Mixin pour conteneur parent en Grid
@mixin conteneur1920px($conteneurBleed: false) {
  // Si le navigateur ne supporte pas Grid
  @include padding3rem;

  // Sinon, on y va avec Grid
  @media (min-width: $mobile600px) {
	display: grid;
	grid-template-columns: minmax(auto, 1920px);
	justify-content: center;
	@if $conteneurBleed == true {
	  padding: 0;
	}
  }
}

// Mixin pour rangée Grid sur 12 colonnes
// Elle sert autant sur mobile (au besoin) que pour la version desktop
@mixin rangeeGrid12col($gridGap: 20px) {
  @media (min-width: $mobile600px) {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: $gridGap;
  }
}


// Mixin pour rangée Flex par défaut
@mixin rangeeFlex {
  display: flex;
  justify-content: space-between;
}

// Mixin pour le padding de base pour mobile si Grid ou Flex ne sont pas utilisés
@mixin padding3rem {
  padding-left: 3rem;
  padding-right: 3rem;
}
