/*
* Variables globales
* @author Gabriel Caron <gabriel.caron@gmail.com>
* @version 1.1
*/

$arrondiMobile: 4rem;
$arrondiTable: 5.5rem;

/** Palette de couleurs **/

/* Couleurs de base AAA */

$blanc: #fff;
$gris99: #fcfcfc; // Icones seulement
$gris98: #fafafa;
$gris50: #808080; // AA
$gris45: #737373; // AA
$gris25: #404040; // AAA
$noir: #000;
$jauneOfficiel: #ffe100;

$blancSombre: #e6e6e6;
$gris65AAA: #a6a6a6;
$grisContourIconeSombre: #1f1f1f;
$grisElevationIconeSombre: #1a1a1a;
$noirSombre: #0d0d0d;

/* Polices */

$RobotoRegular: Roboto-Regular, Arial, sans serif;
$RobotoItalic: Roboto-Italic, Arial, sans serif;
$RobotoMedium: Roboto-Medium, Arial, sans serif;
$RobotoMediumItalic: Roboto-MediumItalic, Arial, sans serif;
$RobotoBold: Roboto-Bold, Arial, sans serif;
$RobotoBoldItalic: Roboto-BoldItalic, Arial, sans serif;

$EspacementStandard: 0.05rem;

/** Points de rupture **/
$mobile600px: 600px;
$tablet900px: 900px;
$desktop1000px: 1000px;
$desktop1100px: 1100px;
$desktop1200px: 1200px;
