/**
 * @author Gabriel Caron <1861095@csfoy.ca>
 * @version 2021.0
*
* ------------------
* TABLE DES MATIERES
* ------------------
* VARIABLES
* PALETTES DE COULEURS
** Couleurs de base
** Autres couleurs
* POINTS DE RUPTURE
*/


$arrondiStandard: 5.5rem;


/** Palette de couleurs **/

/* Couleurs de base AAA */
$gris98: #FAFAFA;
$gris99: #FCFCFC; // Icones seulement
$gris25: #404040;
$jauneOfficiel: #FFE100;
$noir: #000;
$blanc: #fff;

/* Polices */

$RobotoRegular: Roboto-Regular, sans serif;
$RobotoItalic: Roboto-Italic, sans serif;
$RobotoMedium: Roboto-Medium, sans serif;
$RobotoMediumItalic: Roboto-MediumItalic, sans serif;
$RobotoBold: Roboto-Bold, sans serif;
$RobotoBoldItalic: Roboto-BoldItalic, sans serif;

/** Points de rupture **/
$mobile600px: 600px;
$tablet900px: 900px;
$desktop1100px: 1100px;
$desktop1200px: 1200px;
